{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">

    <h1 class="article-title">{{ .Title }}</h1>

    {{ if eq .Section "ml" }}
    <div class="article-date">
		<span>
			{{ .Params.author }} {{ " · " }}
			{{ range .Params.categories }} <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }} {{ " · " }}
			{{ range .Params.tags }} <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }} {{ " · " }}
			{{ range .Params.series }} <a href="{{ "/series/" | relLangURL }}{{ . | urlize }}/index.xml" type="application/rss+xml" target="_blank">订阅</a> {{ end }}
		</span>
	</div>
    {{ end }}
    {{ if eq .Section "math" }}
    <div class="article-date">
		<span>
			{{ .Params.author }} {{ " · " }}
			{{ range .Params.categories }} <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }} {{ " · " }}
			{{ range .Params.tags }} <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }} {{ " · " }}
			{{ range .Params.series }} <a href="{{ "/series/" | relLangURL }}{{ . | urlize }}/index.xml" type="application/rss+xml" target="_blank">订阅</a> {{ end }}
		</span>
	</div>
    {{ end }}
    {{ if eq .Section "blog" }}
    <div class="article-date">
		<span>
			{{ .Params.author }} {{ " · " }}
			{{ .Date.Format "2006/01/02" }} {{ " · " }}
			{{ range .Params.categories }} <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }} {{ " · " }}
			{{ range .Params.tags }} <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> {{ end }} {{ " · " }}
			{{ range .Params.series }} <a href="{{ "/series/" | relLangURL }}{{ . | urlize }}/index.xml" type="application/rss+xml" target="_blank">订阅</a> {{ end }}
		</span>
	</div>
    {{ end }}
	{{ if .Params.show_toc }} {{ .TableOfContents }} {{ end }}
    <div class="article-content">
      {{ .Content }}
    </div>
  <pre>
  </pre>
	{{ partial "prev_next.html" . }}

  </article>

</main>

{{ partial "footer.html" . }}
